*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/src/main/assets/objects
/app/src/main/assets/front
/app/src/main/assets/back
/app/src/main/assets/empty
/app/src/main/res/raw
/app/src/main/java/alexrnov/animememo/enginegl
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
